%h2 Examples

%ul
  %li= link_to "Information about Current User", user_examples_path
  %li= link_to "List of Friends of Current User", friends_examples_path
  %li= link_to "List of Checkins from Current User", checkins_examples_path
  %li= link_to "Search for Venues", venues_search_examples_path
  %li= link_to "Get Details about a specific Venue", venue_details_examples_path

%h2 Add your own examples, #{link_to("fork this project", "https://github.com/pierrevalade/foursquare-rails-examples")} and send me a pull request, thanks!
