= sitemap "Search for Venues"

%p Search for venues in Paris. For example: 
= link_to "Tour Eiffel", :name => "Tour Eiffel"
= link_to "Louvre", :name => "Louvre"
= link_to "Montmartre", :name => "Montmartre"
%p= see_more "https://developer.foursquare.com/docs/venues/search.html"
  
- form_tag nil, :method => :get do
  = label_tag "Venue Name:"
  = text_field_tag "name", params[:name]
  near Paris
  = submit_tag "search"
  
- if @venues
  
  #results
    - @venues["places"].each do |venue|
      .venue
        .icon= image_tag venue.icon
        .content
          .name= link_to venue.name, venue_details_examples_path(:venue_id => venue.id)